<!-- start banner of the page -->
    <div class="banner wow fadeInUp" >
   	  <div class="container_wrap">
   	  	<h1 class="text-jumbo text-contrast uppercase" id="fontshelvetica" ><b>Let's Watch TV Together</b></h1>
   	  	<p style="color:#fff; font-size:1.5em; font-family: 'Ek Mukta';">Invite your friends and watch a TV program together. Have fun!</p><br>
   	  	<a href="#howworks" class="btn btn-2g btn1"> How it works </a>
   	  	
   		    <div class="clearfix"></div>
         </div>
   </div>

<!-- end of the banner of the page -->
<!-- 
<div id="myModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" ng-submit="SignUp()" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Welcome To Yopisode </h4>
					<h4 id="UserName"></h4>
				</div>
				<div class="modal-body">
					<input class="form-control" ng-model="newEvent.UserEmail" type="email" value="" />
					<input type="hidden" ng-model="newEvent.UserId"  />
					<input type="hidden" ng-model="newEvent.UserName" id="UserName" />
					<input type="hidden" ng-model="newEvent.UserPicUrl" />
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-default" data-dismiss="modal">Reset</button>
					<button type="submit" class="btn btn-primary">Confirm your email</button>
				</div>
			</form>
		</div>
	</div>
</div> -->


   <div class="living_middle" id="howworks">
   	  <div class="container">
   	  <h1 style="text-align:center;">How To Organize</h1>

         <div class="row" >
         <!-- <div class="col-md-8 wow fadeInRight" data-wow-delay="0.4s"> -->
          <div class="educate_grid">
            <div class="col-lg-4">
   	    	  <div class="living_box"><a href=".bs-example-modal-md" data-toggle="modal">
			    <img src="images/e6.png" class="img-responsive" alt=""/>
				<span class="sales-box">
				  <span class="sale-label">create a yopevent</span>
			    </span>
				</a>
				<div class="living_desc desc1">
				<br />
				<!--<h2 class="hwitwktiltle">Create a YopEvent</h2>-->
				<p>Think of a nice TV program and create a yopevent for you and your friends to watch TV together.</p>
				
				<div class="clearfix"></div>
				</div>
			  </div>
		    </div>
		    <div class="col-lg-4">
   	    	  <div class="living_box"><a href="invite.html">
			    <img src="images/e3.png" class="img-responsive" alt=""/>
				<span class="sales-box">
				  <span class="sale-label">invite friends</span>
			    </span>
				</a>
				<div class="living_desc desc1">
				<br />
				<!--<h2 class="hwitwktiltle">Invite Friends</h2>-->
				<p>Share your yopevent on Facebook, Twitter, email and other social networs to invite friends.</p>
				<div class="clearfix"></div>
				</div>
			  </div>
		    </div>
		    <div class="col-lg-4">
   	    	  <div class="living_box"><a href="hospitality.html">
			    <img src="images/e7.png" class="img-responsive" alt=""/>
				<span class="sales-box">
				  <span class="sale-label">have fun</span>
			    </span>
				</a>
				<div class="living_desc desc1">
				<br />
				<!--<h2 class="hwitwktiltle">Make it Happen</h2>-->
				<p>Setup your TV. Prepare the spot. Get some snacks & Have some fun. Your friends will love you. </p>
				
				<div class="clearfix"></div>
				</div>
			  </div>
		    </div>
		    <div class="clearfix"></div>
      </div>
      </div>
   </div>
</div>
   <div class="living_bottom">
   	  <div class="container">
   	  	
   	  	<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.4s">
   	    	  <div class="living_box"><a href="whyorganize.html">
			    <img src="images/pic114.jpg" class="img-responsive" alt=""/>
				<span class="sale-box">
				  <span class="sale-label">Why Organize</span>
			    </span>
				</a>
				<div class="living_desc desc1">
				<br />
				<!--<h2 class="hwitwktiltle">Make it Happen</h2>-->
				<p>Become an agent of fun and happiness. It's boring watching TV alone for you and for your friends. Create a yopevent and kick boredom away.</p>
				
				<div class="clearfix"></div>
				</div>
			  </div>
		</div>
   	  	<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.4s">
   	    	  <div class="living_box"><a href="whyattend.html">
			    <img src="images/pic117.jpg" class="img-responsive" alt=""/>
				<span class="sale-box">
				  <span class="sale-label">Why Attend</span>
			    </span>
				</a>
				<div class="living_desc desc1">
				<br />
				<!--<h2 class="hwitwktiltle">Make it Happen</h2>-->
				<p>While you sit alone watching TV, your friends are watching TV together. Stop being bored, find out where they are, go meet them and have fun!</p>
				
				<div class="clearfix"></div>
				</div>
			  </div>
		</div>
   	  </div>
   </div>